<div class="alert alert-warning" role="alert">

These instructions mention <strong>kubectl</strong>, if you don't know how to configure it for each region, see <a href="https://github.ibm.com/cloud-sre/ToolsPlatform/wiki/OSS-Bastion-User-Guide---Account-Migration#a1-2">Access IKS clusters via Bastion</a>. <br>
Per Service Framework <strong>(SF)</strong> requirement, OSS developers are granted least privilege in staging and production environments.
If you do not have permission to execute the <strong>kubectl</strong> command for this runbook, please use <strong>kubectl oss plugin</strong> which will provide the elevated operations with audit, refer to the user guide  <a href="https://github.ibm.com/cloud-sre/ToolsPlatform/wiki/Kubectl-OSS-Plugin-User-Guide">here</a>.

</div>
