table {
  border-collapse: collapse;
  border-spacing: 0px 0px;
  margin: 0 auto;
  page-break-inside: avoid;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

th, td {
  padding: 0.2mm 2mm;
}
th { background-color: aliceblue; color: black;}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px black solid;
}

tr:nth-child(odd) {background-color:  #f2f2f2}

thead > tr {
  border-bottom: 1px black solid;
}

tbody > tr:not(:last-of-type) {
  border-bottom: 1px black solid;
}
